In [1]:
import pandas as pd

In [2]:
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\this\appdata\local\programs\python\python312\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\this\appdata\local\programs\python\python312\lib\site-packages (from openpyxl) (2.0.0)

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
df = pd.read_excel(r"C:\Users\THIS\Downloads\Financial_Sample.xlsx")

In [5]:
df.head(2)

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,NaN,1618.5,3,20.0,32370.0,0.0,32370.0,16185.0,16185.0,2014-01-01,1,January,2014
1,Government,Germany,Carretera,NaN,1321.0,3,20.0,26420.0,0.0,26420.0,13210.0,13210.0,2014-01-01,1,January,2014

In [6]:
df.shape

(700, 16)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Segment              692 non-null    object
 1   Country              689 non-null    object
 2   Product              692 non-null    object
 3   Discount Band        638 non-null    object
 4   Units Sold           695 non-null    float64
 5   Manufacturing Price  700 non-null    int64
 6   Sale Price           693 non-null    float64
 7   Gross Sales          695 non-null    float64
 8   Discounts            695 non-null    float64
 9    Sales               700 non-null    float64
 10  COGS                 700 non-null    float64
 11  Profit               700 non-null    float64
 12  Date                 700 non-null    datetime64[ns]
 13  Month Number         700 non-null    int64
 14  Month Name           700 non-null    object
 15  Year                 700 non-null    int64
dtypes: datetime64[ns](1), float64(7), int64(3), object(5)
memory usage: 87.6+ KB

In [8]:
df.isnull().sum()

Segment                 8
Country                11
Product                 8
Discount Band          62
Units Sold              5
Manufacturing Price     0
Sale Price              7
Gross Sales             5
Discounts               5
 Sales                  0
COGS                    0
Profit                  0
Date                    0
Month Number            0
Month Name              0
Year                    0
dtype: int64

In [50]:
df.columns

Index(['Segment', 'Country', 'Product', 'Discount Band', 'Units Sold',
       'Manufacturing Price', 'Sale Price', 'Gross Sales', 'Discounts',
       ' Sales', 'COGS', 'Profit', 'Date', 'Month Number', 'Month Name',
       'Year'],
      dtype='object')

In [32]:
# Which Column Has Missing Value
li = []
for col in df.columns:
    if df[col].isnull().sum() != 0:
        li.append(col)
print(li)

['Segment', 'Country', 'Product', 'Discount Band', 'Units Sold', 'Sale Price', 'Gross Sales', 'Discounts']

In [31]:
df[li].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Segment        692 non-null    object
 1   Country        689 non-null    object
 2   Product        692 non-null    object
 3   Discount Band  638 non-null    object
 4   Units Sold     695 non-null    float64
 5   Sale Price     693 non-null    float64
 6   Gross Sales    695 non-null    float64
 7   Discounts      695 non-null    float64
dtypes: float64(4), object(4)
memory usage: 43.9+ KB

In [36]:
# finding mode of a column
df['Segment'].mode()[0]

'Government'

In [40]:
df[li].select_dtypes(include="object").columns

Index(['Segment', 'Country', 'Product', 'Discount Band'], dtype='object')

In [41]:
# Fill MODE value in all object data type columns
for col in df[li].select_dtypes(include="object").columns:
    df[col] = df[col].fillna(value=df[col].mode()[0])

In [42]:
df[li].select_dtypes(include="object").isnull().sum()

Segment          0
Country          0
Product          0
Discount Band    0
dtype: int64

In [44]:
# Filling float columns with mean/average
df[li].select_dtypes(include="float64").columns

Index(['Units Sold', 'Sale Price', 'Gross Sales', 'Discounts'], dtype='object')

In [46]:
df[li].select_dtypes(include="float64").isnull().sum()

Units Sold     5
Sale Price     7
Gross Sales    5
Discounts      5
dtype: int64

In [47]:
for col in df[li].select_dtypes(include="float64").columns:
    df[col] = df[col].fillna(value=df[col].mean())

In [48]:
df[li].select_dtypes(include="float64").isnull().sum()

Units Sold     0
Sale Price     0
Gross Sales    0
Discounts      0
dtype: int64

In [49]:
df.isnull().sum()

Segment                0
Country                0
Product                0
Discount Band          0
Units Sold             0
Manufacturing Price    0
Sale Price             0
Gross Sales            0
Discounts              0
 Sales                 0
COGS                   0
Profit                 0
Date                   0
Month Number           0
Month Name             0
Year                   0
dtype: int64

In [51]:
df.columns

Index(['Segment', 'Country', 'Product', 'Discount Band', 'Units Sold',
       'Manufacturing Price', 'Sale Price', 'Gross Sales', 'Discounts',
       ' Sales', 'COGS', 'Profit', 'Date', 'Month Number', 'Month Name',
       'Year'],
      dtype='object')

In [53]:
df['Segment'].unique()

array(['Government', 'Midmarket', 'Channel Partners', 'Enterprise',
       'Small Business'], dtype=object)

In [54]:
df['Segment'].value_counts()

Segment
Government          302
Midmarket           100
Enterprise          100
Small Business      100
Channel Partners     98
Name: count, dtype: int64

In [55]:
df['Profit'].sum()

16893702.259999998

In [59]:
pbs = df.groupby(['Segment']).agg({'Profit':'sum'}).reset_index()

In [60]:
pbs

            Segment        Profit
0  Channel Partners  1.290808e+06
1        Enterprise -6.145456e+05
2        Government  1.141417e+07
3         Midmarket  6.601031e+05
4    Small Business  4.143168e+06

In [67]:
pbc = df.groupby(['Country']).agg({'Profit':'sum'}).reset_index()

In [68]:
pbc

   Country       Profit
0   Canada  3359437.935
1   France  4297445.980
2  Germany  3624167.730
3   Mexico  2889313.870
4      USA  2723336.745

In [66]:
df['Country'] = df['Country'].replace('United States of America','USA')

In [69]:
df.columns

Index(['Segment', 'Country', 'Product', 'Discount Band', 'Units Sold',
       'Manufacturing Price', 'Sale Price', 'Gross Sales', 'Discounts',
       ' Sales', 'COGS', 'Profit', 'Date', 'Month Number', 'Month Name',
       'Year'],
      dtype='object')

In [70]:
df['Year'].unique()

array([2014, 2013], dtype=int64)

In [71]:
df.groupby(['Year','Country']).agg({'Profit':'sum'}).reset_index()

   Year  Country       Profit
0  2013   Canada   803671.780
1  2013   France   811332.170
2  2013  Germany  1118219.470
3  2013   Mexico   592670.260
4  2013      USA   552570.830
5  2014   Canada  2555766.155
6  2014   France  3486113.810
7  2014  Germany  2505948.260
8  2014   Mexico  2296643.610
9  2014      USA  2170765.915